

<div 
id="Shell"
class = "w-11/12 mx-auto sm:w-6/12 mt-[50px]"
>
    <h1 class = "text-3xl text-center text-red">Log In</h1>
    <form 
    action="/log-in" 
    method="POST"
    class = "grid [&>input]:border-black [&>input]:rounded-md [&>input]:border-[1px] 
    [&>input]:p-1 [&>input]:mb-[20px]">
        <label for="username">Username</label>
        <input name="username" placeholder="username" type="text" />
        <label for="password">Password</label>
        <input 
            name="password" 
            type="password" 
            placeholder="password"/>
        <button 
            type = 'submit'
            class = "border-black rounded-md border-[1px] w-fit mx-auto p-1 my-10
            active:translate-x-[3px] active:translate-y-[3px] hover:bg-gray-300"
            >Log In</button>
        
        <hr class = "my-[25px] h-[2px] border-[2px]">
        <h2 class = "my-10 text-center text-lg">Don't have an account with us?</h2>
        <button 
            type = 'button'
            onclick = "location.href='/sign-up'"
            class = "border-black rounded-md border-[1px] w-fit mx-auto p-1 my-10
            active:translate-x-[3px] active:translate-y-[3px] hover:bg-gray-300"
            >Sign Up</button>
    </form>
</div>

