<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">  
        <link rel ="stylesheet" href='/stylesheets/style.css'>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Authentication Workshop</title>
    </head>
    <body>
        <% if(typeof user != 'undefined') { %>
            <h1 class = "text-center text-6xl uppercase text-red">Welcome, <%= typeof user.username != 'undefined' ? user.username : null %>!</h1>
            <%- include('partials/logoutButton') %>
        <% } else { %> 
              <%- include('partials/login-form') %>
        <%}%>
    </body>
</html>