<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel ="stylesheet" href='/stylesheets/style.css'>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Create an account</title>
</head>
<body>
<div 
    id='Main Container' 
    class='w-full'
>
  <div 
    id="Shell"
    class = "w-11/12 mx-auto"
  >
  <h1>Sign Up</h1>
  <form 
    action="" 
    method="POST"
    class = "grid">
    <label for="username">Username</label>
    <input name="username" placeholder="username" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <button 
        type = 'submit'
        class = "border-black rounded-md border-[1px] w-fit mx-auto p-1 my-10
        active:translate-x-[1px] active:translate-y-[1px]"
        >Sign Up</button>
  </form>
  </div>
</div>
</body>
</html>