<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel ="stylesheet" href='/stylesheets/style.css'>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Create an account</title>
</head>
<body>
<div 
    id='Main Container' 
    class='w-full'
>
  <div 
    id="Shell"
    class = "w-11/12 mx-auto sm:w-6/12 md:w-5/12 mt-[50px]"
  >
  <h1 class = "text-3xl text-center">Sign Up</h1>
  <% if(typeof error != 'undefined' && error.length != 0 ) { %> 
    <div>
        <h2>Error in registering</h2>
        <div><%= error %></div>
    </div>
  <%} %>
  <form 
    action="/sign-up" 
    method="POST"
    class = "grid [&>input]:border-black [&>input]:rounded-md [&>input]:border-[1px] 
    [&>input]:p-1 [&>input]:mb-[20px]">
    <label for="username">Username</label>
    <input
        name="username" 
        placeholder="username" 
        type="text" 
        value ="<%= typeof username != 'undefined' ? username : null %>"
        />
    <label for="email">Email</label>
    <input 
        name="email" 
        type="text" 
        placeholder="Type your email here."
        value ="<%= typeof email != 'undefined' ? email : null %>"
        />
    <label for="password">Password</label>
    <input 
        name="password" 
        type="password" 
        placeholder="password"
        value ="<%= typeof password != 'undefined' ? password : null %>"
        />
    <button 
        type = 'submit'
        class = "border-black rounded-md border-[1px] w-fit mx-auto p-1 my-10
        active:translate-x-[3px] active:translate-y-[3px] hover:bg-gray-300"
        >Sign Up</button>
    <hr class = "my-[25px] h-[2px] border-[2px]">
    <h2 class = "my-10 text-center text-lg">Already have an account with us?</h2>
    <button 
        type = 'button'
        onclick = "location.href='/log-in'"
        class = "border-black rounded-md border-[1px] w-fit mx-auto p-1 my-10
        active:translate-x-[3px] active:translate-y-[3px] hover:bg-gray-300"
        >Log In</button>
  </form>
  </div>
</div>
</body>
</html>